<!-- -&#45;&#45;-->
<!--title: Tailwind CSS Sign in/Login Page - Flowbite-->
<!--description: Get started with a free and open-source admin dashboard layout built with Tailwind CSS and Flowbite featuring charts, widgets, CRUD layouts, authentication pages, and more-->
<!--layout: main-->
<!--group: authentication-->
<!-- -&#45;&#45;-->

{% from "components/input.html" import inputForm with context %}

<div id="splash"
     class=" animate-fadein flex flex-col items-center justify-center px-6  mx-auto md:h-screen pt:mt-0 dark:bg-gray-900">
    <a href="/" class="flex items-center justify-center mb-8 text-2xl font-semibold lg:mb-10 dark:text-white">
        <img src="{{url_for('static',filename='img/logo_polinema.png')}}" class="mr-4 h-52" alt="FlowBite Logo">
    </a>
    <div class="space-y-7 text-center">
        <h1 class="text-2xl font-bold">Implementasi Penentuan Gaya Hidup pada Penderita Obesitas Menggunakan Metode Random Forest Berbasis Internet of Things</h1>

        <h1 class="text-xl font-bold">Modesta Berliansa Termatu Arsanta
</h1>
        <h1 class="text-lg  ">2041160029</h1>


    </div>
    <div class="space-y-8 text-center mt-5">
        <svg aria-hidden="true" role="status" class="inline w-10 h-10 me-3 text-gray-200 animate-spin dark:text-gray-600"
             viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                  fill="currentColor"/>
            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                  fill="#1C64F2"/>
        </svg>
    </div>

</div>

<div id="login"
     class="hidden animate-fadein flex flex-col items-center justify-center px-6 pt-8 mx-auto md:h-screen pt:mt-0 dark:bg-gray-900">
    <a href="/" class="flex items-center justify-center mb-8 text-2xl font-semibold lg:mb-10 dark:text-white">
        <!--        <img src="/images/logo.svg" class="mr-4 h-11" alt="FlowBite Logo">-->
        <span>Login Sistem</span>
    </a>
    <!-- Card -->
    <div class="w-full max-w-xl p-6  align-center justify-center space-y-8 sm:p-8 bg-white rounded-lg shadow dark:bg-gray-800">
        <h2 class="text-2xl font-bold text-gray-900 dark:text-white">
            Login Sistem
        </h2>
          <div id="message"></div>
        <form class="mt-8 space-y-6" >
            {{ inputForm('Username', 'username', 'text', 'Enter your username', required=False) }}
            {{ inputForm('Password', 'password', 'password', '••••••••', required=False) }}

            <div>
                Belum Punya Akun? <a href="/register" class="text-primary-500 hover:!text-primary-800">Daftarkan
                Akun</a>
            </div>
            <div>
                <button type="submit" id="loginButton"
                        class="w-full px-5 py-3 text-base font-medium text-center text-white bg-primary-700 rounded-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                    Login
                </button>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        setTimeout(function () {
            document.getElementById("splash").classList.add("hidden");
            document.getElementById("login").classList.remove("hidden");
        }, 2000); // 2000 milliseconds = 2 seconds
    });

    $(document).ready(function () {
            $('#loginButton').click(function (event) {
                event.preventDefault();
                var formData = {
                    username: $('#username').val(),
                    password: $('#password').val()
                };

                $.ajax({
                    url: '/api/login',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(formData),
                    success: function (data) {
                        if (data.message) {
                            $('#message').html('<p style="color: green;">' + data.message + '</p> <br>');

                            setTimeout(function () {
                                window.location.href = '/dashboard';
                            }, 2000);
                        } else if (data.error) {
                            $('#message').html('<p style="color: red;">' + data.error + '</p> <br>');
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Error:', error);
                        $('#message').html('<p style="color: red;">Error: ' + error + '</p> <br>');
                    }
                });
            });
        });
</script>